html {
	font-family: Helvetica;
	font-size: 18px;
	line-height: 1.4;
}

 .container,
 .tagcontainer,
 .icon-container {
	margin: auto;
	width: 960px;
}

nav,
.logo,
.links, 
.tagcontainer,
.icon-container,
.pic {
	display: flex;
}

/*Header*/

header {
	color: white;
}

nav {
	align-items: center;
	background-color: cadetblue;
	position: relative;
	top: 1rem;
	padding: 1rem 1rem;
	justify-content: space-between;
}


nav img {
	height: 1.5rem;
	padding: 1rem;
}

.logo span {
	padding: 1rem 0rem;
}

.links a {
	color: white;
	text-decoration: none;
	padding: 0rem 1rem;
}

.top {
	background-image: url(../images/glasses-bg.png);
	height: 30rem;
	background-size: cover;
	background-repeat: no-repeat;
}

.tagcontainer {
	align-items: center;
	justify-content: flex-end;
}

.tagline {
	background-color: white;
	color: black;
	margin-top: 10rem;
	margin-right: -2rem;
	padding: 0rem 0rem;
}

.tagline h2 {
	text-transform: uppercase;
	padding: 1.5rem 5rem;
	margin: auto;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
}

/*Main Section*/

.icon-container {
	padding: 3rem 0rem;
	justify-content: center;
}

.pic {
	height: 8rem;
	align-items: center;
	text-align: center;
	width: 5rem;
	flex-direction: column;
	margin: 3rem;
	justify-content: space-between;
}


 .exams {
	width: 3.5rem;
}

.ruler,
.truck {
	width: 5rem;
}

.bit {
	width: 35%;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
    margin-top: 3rem;
    padding-right: 5%;
}

.info .container {
	display: flex;
	justify-content: space-around;
}

.bit h3 {
	color: white;
	font-weight: bold;
	background-color: cadetblue;
	text-transform: uppercase;
	padding: 0.5rem 1.25rem;
}

.bit p {
	padding-top: 1rem;
	margin: 0rem;
}
